<navbar></navbar>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="product-grid" style="min-height: 200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <sidebar-account></sidebar-account>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="list-group user-list">
                    <div class="input-group primary col-md-6" inputgroup>
                        <span class="input-group-addon">
                            <span class="arrow"></span>
                        <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control search-page-input" placeholder="Search users" ng-model="search">
                    </div>
                </div>
                <ul class="list-group user-list">
                    <li class="list-group-item" ng-repeat="user in filtered = admin.users | filter: search | startSearchFrom:(admin.currentPage-1) * admin.itemsPerPage | limitTo:admin.itemsPerPage">
                        <div class="user-info">
                            <strong>{{user.name}}</strong>
                            <br>
                            <span class="text-muted">{{user.email}}</span>
                            <p class="text-muted">
                                {{user.address}}
                                <br ng-show="user.address"> {{user.state}}
                                <br ng-show="user.state">
                                <span class="text-muted">{{user.phone}}</span>
                                <br ng-show="user.phone"> role: {{user.role}}
                            </p>
                        </div>
                        <a ng-click="admin.delete(user.name, user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
                    </li>
                </ul>
            </div>
            <uib-pagination boundary-links="true" total-items="admin.totalItems" ng-model="admin.currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</section>
<footer></footer>
