<navbar></navbar>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">change password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="product-grid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <sidebar-account></sidebar-account>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="col-md-8 col-sm-12">
                    <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
                            <p class="help-block" ng-show="form.password.$error.mongoose">
                                {{ vm.errors.other }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
                            <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                                Password must be at least 3 characters.
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" />
                            <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
                                Passwords must match.
                            </p>
                        </div>
                        <p class="help-block"> {{ vm.message }} </p>
                        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
</section>
<br>
<footer></footer>
