<navbar></navbar>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">add-category</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="product-grid" style="min-height: 200px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <sidebar-account></sidebar-account>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <form class="form" name="form" ng-submit="save(form)" novalidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" ng-model="category.name" required/>
                        <p class="help-block" ng-show="form.name.$error.required">
                            Name is required
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Parent</label>
                        <select class="form-control" name="parent" ng-model="category.parent">
                            <option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.name}}</option>
                        </select>
                    </div>
                    <p class="help-block"> {{ message }} </p>
                    <button class="btn btn-lg btn-primary" type="submit">Save Category</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer></footer>
