
<navbar></navbar>


<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
 -->

 <div ng-include="'app/main/templates/top-area.html'"></div>
 <div ng-include="'app/main/templates/nav-bar.html'"></div>
 <div ng-include="'app/main/templates/slider-area.html'"></div>
 <div ng-include="'app/main/templates/featured-timer-tab.html'"></div>
 <div ng-include="'app/main/templates/featured-tab.html'"></div>
 <div ng-include="'app/main/templates/featured-fashion-tab.html'"></div>


<!--Product Banner Area Start-->
<div class="product-banner-area white-hover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="#"><img src="img/banner/banner-21.jpg" alt=""></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="#"><img src="img/banner/banner-22.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!--End of Product Banner Area-->

<div ng-include="'app/main/templates/featured-kitchen-tab.html'"></div>


<!--Full Width Banner Area-->
<div class="full-width-banner-area white-hover">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="img/banner/banner-24.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!--End of Full Width Banner Area-->

 <div ng-include="'app/main/templates/featured-tools-tab.html'"></div>

<!--Service Area Start--> 
<section class="product-service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-sm">
                <div class="single-service">
                    <div class="s-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="s-information">
                        <h4>Phone:(+1)888 987 666</h4>
                        <p>On orders over $100</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="single-service">
                    <div class="s-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="s-information">
                        <h4>Free shipping</h4>
                        <p>On orders over $100</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="single-service">
                    <div class="s-icon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                    <div class="s-information">
                        <h4>PAYMENT SECURED</h4>
                        <p>100% Guaranteed Checkout</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="single-service">
                    <div class="s-icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="s-information">
                        <h4>Money back 100%</h4>
                        <p>Within 30 Days after delivery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Service Area-->

 <div ng-include="'app/main/templates/featured-gift-tab.html'"></div>

<!--Newsletter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <p>Please send a letter to us, believe that the information promotion will not slip out of hand you</p>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            <form id="news-form" action="#">
                                <input type="text" placeholder="Your Email . ." name="s">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Newsletter Area-->

<!--Top Categories Area Start-->
<div class="top-categories-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-cate-title">
                    <h3>top categories</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="top-categoies">
                    <div class="top-cat-list">
                        <ul>
                            <li><a href="#">Batteries &amp; Chargers</a></li>
                            <li><a href="#">Headphone, Headset</a></li>
                            <li><a href="#">Home Audio</a></li>
                            <li><a href="#">Mp3 Player Accessories</a></li>
                        </ul>
                    </div>
                    <div class="top-cat-image white-hover">
                        <a href="#">
                            <img src="img/banner/banner-36.jpg" alt="">
                            <span>Shop now <i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="top-categoies">
                    <div class="top-cat-list">
                        <ul>
                            <li><a href="#">Batteries &amp; Chargers</a></li>
                            <li><a href="#">Headphone, Headset</a></li>
                            <li><a href="#">Home Audio</a></li>
                            <li><a href="#">Mp3 Player Accessories</a></li>
                        </ul>
                    </div>
                    <div class="top-cat-image white-hover">
                        <a href="#">
                            <img src="img/banner/banner-37.jpg" alt="">
                            <span>Shop now <i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="top-categoies">
                    <div class="top-cat-list">
                        <ul>
                            <li><a href="#">Walkera</a></li>
                            <li><a href="#">Fpv System &amp; Parts</a></li>
                            <li><a href="#">RC Cars &amp; Parts</a></li>
                            <li><a href="#">Helicopters &amp; Part</a></li>
                        </ul>
                    </div>
                    <div class="top-cat-image white-hover">
                        <a href="#">
                            <img src="img/banner/banner-38.jpg" alt="">
                            <span>Shop now <i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <div class="top-categoies">
                    <div class="top-cat-list">
                        <ul>
                            <li><a href="#">Bath &amp; Body</a></li>
                            <li><a href="#">Shaving &amp; Removal</a></li>
                            <li><a href="#">Fragrances</a></li>
                            <li><a href="#">Spa Equipment</a></li>
                        </ul>
                    </div>
                    <div class="top-cat-image white-hover">
                        <a href="#">
                            <img src="img/banner/banner-39.jpg" alt="">
                            <span>Shop now <i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Top Categories Area-->
<!--Brand Area Start-->
<div class="brand-area">
    <div class="container">
        <div class="row">
            <div class="brand-wrapper">
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-4.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-brand">
                        <a href="#"><img src="img/brand/brand-4.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Brand Area-->
<!--Footer Top Widget Area Start-->
<div class="footer-widget-area top">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget">
                    <h4>Our Support</h4>
                    <ul class="single-widget-list">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget">
                    <h4>My Account</h4>
                    <ul class="single-widget-list">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Special</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4>BRANDS ARE FAVORITES</h4>
                    <ul class="single-widget-list favorite">
                        <li><span>Tablets:</span> Apple, Samsung, Sony, Asus, HP, Lenovo, <a href="#" class="more">Read more</a> ...</li>
                        <li><span>Phone:</span> Apple, Samsung, Sony, FPT, Asus, BlackBerry, <a href="#" class="more">More</a> ...</li>
                        <li><span>Apple:</span> iPhone, iPad, <a href="#" class="more">More</a> ...</li>
                        <li><span>Notebook:</span> Apple (Macbook), Acer, Dell, HP, Lenovo,, Sony, <a href="#" class="more">More</a> ...</li>
                        <li><span>Accessories:</span> Headset, leather bags and bumper, <a href="#" class="more">More</a> ...</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <div class="footer-widget">
                    <a href="#"><img src="img/logo/logo-4.png" alt=""></a>
                    <p class="information"> <i class="fa fa-circle-o blue"></i>Addresss: 19th Floor, 40 Bank Street,
                        <br> Canary Wharf, London, E14 5NR.</p>
                    <p class="information"> <i class="fa fa-circle-o dark-yellow"></i>Email: admin@bootexperts.com</p>
                    <p class="information"> <i class="fa fa-circle-o lemon"></i>Phone: <span>(+1)866-550-3669</span></p>
                    <p class="information"> <i class="fa fa-circle-o yellow"></i>Web: bootexperts.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Top Widget Area-->
<!--Footer Bottom Widget Area Start-->
<div class="footer-widget-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 hidden-sm hidden-xs">
                <ul class="social-icons">
                    <li><i class="fa fa-facebook"></i><a href="#">FACEBOOK</a></li>
                    <li><i class="fa fa-instagram"></i><a href="#">instagram</a></li>
                    <li><i class="fa fa-flickr"></i><a href="#">flickr</a></li>
                    <li><i class="fa fa-youtube-play"></i><a href="#">youtube</a></li>
                    <li><i class="fa fa-twitter"></i><a href="#">twitter</a></li>
                    <li><i class="fa fa-google-plus"></i><a href="#">google+</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 hidden-sm hidden-xs">
                <div class="footer-widget-bottom">
                    <h2>Support Payments</h2>
                    <div class="support-payments">
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm">
                <div class="footer-widget">
                    <p>Please keep contact with us. There are many products waiting for you to enjoy!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Bottom Widget Area-->
<!--Footer Area Start-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-line">
                    <p>Copyright © <a href="#">Bootexperts</a>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer Area-->

<footer></footer>
