<navbar></navbar>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">product</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumbs-->
<!--Product Details Area Start-->
<div class="product-details">
    <section class="product-details-area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <!-- {{product}} -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="product-s-l">
                                <div class="product-large">
                                    <div class="tab-content">
                                        <div class="tab-pane active in" id="img-1">
                                            <a href="#"><img alt="" class="zoom_01" src="{{product.imageUrl}}" data-zoom-image="{{product.imageUrl}}" zoom></a>
                                        </div>
                                        <div class="tab-pane" ng-repeat="img in product.images" id="img-{{$index + 2}}">
                                            <a href="#"><img alt="" class="zoom_01" src="{{img.imageUrl}}" data-zoom-image="{{img.imageUrl}}" zoom></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-small" ng-if="product.images.length > 0">
                                    <ul class="nav nav-tabs bxslider" role="tablist" bxslider>
                                        <li class="active">
                                            <a href="#img-1" data-toggle="tab" my-tab>
                                                <img alt="" src="{{product.imageUrl}}">
                                            </a>
                                        </li>
                                        <li ng-repeat="img in product.images">
                                            <a ng-href="#img-{{$index + 2}}" data-toggle="tab" my-tab>
                                                <img alt="" src="{{img.imageUrl}}">
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- BX Slider Navigation -->
                                    <div class="outside">
                                        <p><span id="slider-prev"></span> <span id="slider-next"></span></p>
                                    </div>
                                    <!-- BX Slider Navigation -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="product-right-details">
                                <div class="product-info">
                                    <h4>{{product.title}}</h4>
                                    <h5>₦{{product.price | number}}</h5>
                                    <div class="rating">
                                        <i class="fa fa-star" ng-class="{'grey': product.averageRating < 1}"></i>
                                        <i class="fa fa-star" ng-class="{'grey': product.averageRating < 2}"></i>
                                        <i class="fa fa-star" ng-class="{'grey': product.averageRating < 3}"></i>
                                        <i class="fa fa-star" ng-class="{'grey': product.averageRating < 4}"></i>
                                        <i class="fa fa-star" ng-class="{'grey': product.averageRating < 5}"></i>
                                    </div>
                                    <p>{{product.reviews.length}} Review (s)</p>
                                </div>
                            </div>
                            <div class="borderd-para">
                                <p>Products available in store.</p>
                                <br>
                                <p>Stock: <span>{{product.stock}}</span>.</p>
                            </div>
                            <p class="details">{{product.description}}</p>
                            <div class="p-d-info" ng-show="!ngCart.getItemById(product._id)">
                                <div class="filter-by">
                                    <h4>Size:</h4>
                                    <form action="#">
                                        <div class="select-filter">
                                            <select disabled>
                                                <option value="m">N/A</option>
                                                <option value="l">L</option>
                                                <option value="xl">XL</option>
                                                <option value="xs">XS</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="filter-by">
                                    <h4>Color:</h4>
                                    <form action="#">
                                        <div class="select-filter">
                                            <select disabled>
                                                <option value="white">N/A</option>
                                                <option value="red">Red</option>
                                                <option value="blue">Blue</option>
                                                <option value="green">Green</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="filter-by">
                                    <h4>Qty:</h4>
                                    <form action="#">
                                        <div class="select-filter number" ng-init="qty = 1">
                                            <div class="inc qtybutton" qtybutton>+</div>
                                            <input type="text" ng-model="qty" max="{{product.stock}}" min="1" name="qtybutton" class="cart-plus-minus-box">
                                            <div class="dec qtybutton" qtybutton>-</div>
                                        </div>
                                    </form>
                                </div>
                                <div class="product-info">
                                    <button class="n-a-btn" ng-click="ngCart.addItem(product._id, product.title, product.price, qty, product)"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                </div>
                            </div>
                            <div ng-show="ngCart.getItemById(product._id)">
                                <a class="btn btn-success btn-sm" ng-click="ngCart.removeItemById(product._id)"><i class="fa fa-check"></i> ADDED</a>
                                <a class="btn btn-sm btn-success" ui-sref="cart">View Cart and Checkout</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="p-details-tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab" my-tab>Product Description</a></li>
                                    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab" my-tab>Reviews</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tab-content review">
                                <div role="tabpanel" class="tab-pane active" id="description">
                                    <p>{{product.description}}</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="reviews">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-repeat="review in product.reviews">
                                                <div class="review-left">
                                                    <p><span> {{review.title}} </span></p>
                                                    <div class="review-rating">
                                                        <p>rating</p>
                                                        <div class="rating">
                                                            <i class="fa fa-star" ng-class="{'grey': review.rating < 1}"></i>
                                                            <i class="fa fa-star" ng-class="{'grey': review.rating < 2}"></i>
                                                            <i class="fa fa-star" ng-class="{'grey': review.rating < 3}"></i>
                                                            <i class="fa fa-star" ng-class="{'grey': review.rating < 4}"></i>
                                                            <i class="fa fa-star" ng-class="{'grey': review.rating < 5}"></i>
                                                        </div>
                                                    </div>
                                                    <p>{{review.content}} <span class="italic">(Posted on {{review.posted | date: 'short'}} by {{review.by}}) </span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--    </div>
                                    <div class="row"> -->
                                        <div class="col-md-6">
                                            <div class="review-right">
                                                <h3><span>You're reviewing: {{product.title}}</span></h3>
                                                <h4>{{message}}</h4>
                                                <form name="reviewForm" ng-submit="addReview(review, product._id)">
                                                    <div class="p-details-table table-responsive">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>1 star</th>
                                                                    <th>2 stars</th>
                                                                    <th>3 stars</th>
                                                                    <th>4 stars </th>
                                                                    <th>5 stars </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-init="review.rating = '5'">
                                                                <tr>
                                                                    <th class="required">Rating</th>
                                                                    <td>
                                                                        <input name="rating" type="radio" class="radio" ng-model="review.rating" value="1">
                                                                    </td>
                                                                    <td>
                                                                        <input name="rating" type="radio" class="radio" ng-model="review.rating" value="2">
                                                                    </td>
                                                                    <td>
                                                                        <input name="rating" type="radio" class="radio" ng-model="review.rating" value="3">
                                                                    </td>
                                                                    <td>
                                                                        <input name="rating" type="radio" class="radio" ng-model="review.rating" value="4">
                                                                    </td>
                                                                    <td>
                                                                        <input name="rating" type="radio" class="radio" ng-model="review.rating" value="5">
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row form-top">
                                                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                            <label>Nickname<span title="required" class="required">*</span></label>
                                                            <input type="text" class="form-control" name="name" ng-model="review.by" required>
                                                        </div>
                                                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                            <label>Summary of Your Review<span title="required" class="required">*</span></label>
                                                            <input type="text" class="form-control" name="subject" ng-model="review.title" required>
                                                        </div>
                                                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                                            <label>Review<span title="required" class="required">*</span></label>
                                                            <textarea class="yourmessage" name="message" ng-model="review.content" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="submit-form form-group col-sm-12 submit-review">
                                                        <input type="submit" class="add-tag-btn" value="Submit Review" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="arrival-heading">
                                <h2>Upsell Products</h2>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="single-p-slide-bottom" single-p-slide-bottom>
                            <div class="col-md-4" ng-repeat="upsell in upsellProducts">
                                <div class="single-product">
                                    <a ui-sref="product({id: upsell.slug})">
                                        <img class="primary-img" src="{{upsell.imageUrl}}" alt="">
                                        <img class="secondary-img" src="{{upsell.images[0].imageUrl}}" alt="">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <div class="product-info">
                                        <h4><a ui-sref="product({id: upsell.slug})">{{upsell.title}}</a></h4>
                                        <div class="rating">
                                            <i class="fa fa-star" ng-class="{'grey': upsell.averageRating < 1}"></i>
                                            <i class="fa fa-star" ng-class="{'grey': upsell.averageRating < 2}"></i>
                                            <i class="fa fa-star" ng-class="{'grey': upsell.averageRating < 3}"></i>
                                            <i class="fa fa-star" ng-class="{'grey': upsell.averageRating < 4}"></i>
                                            <i class="fa fa-star" ng-class="{'grey': upsell.averageRating < 5}"></i>
                                        </div>
                                        <h5>₦{{upsell.price | number}}</h5>
                                        <button ng-show="!ngCart.getItemById(upsell._id)" ng-click="ngCart.addItem(upsell._id, upsell.title, upsell.price, qty, upsell)" class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        <a ng-show="ngCart.getItemById(upsell._id)" class="btn btn-success btn-sm n-a-btn" ng-click="ngCart.removeItemById(upsell._id)"><i class="fa fa-check"></i> ADDED</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sidebar-info">
                    <div class="feature-heading">
                        <h2>Related Products</h2>
                    </div>
                    <div class="single-news" ng-repeat="p in relatedProducts">
                        <div class="single-image">
                            <a ui-sref="product({id: p.slug})">
                                <img src="{{p.imageUrl}}" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4><a ui-sref="product({id: p.slug})">{{p.title}}</a></h4>
                            <h5>₦{{p.price | number}}</h5>
                            <div class="rating">
                                <i class="fa fa-star" ng-class="{'grey': p.averageRating < 1}"></i>
                                <i class="fa fa-star" ng-class="{'grey': p.averageRating < 2}"></i>
                                <i class="fa fa-star" ng-class="{'grey': p.averageRating < 3}"></i>
                                <i class="fa fa-star" ng-class="{'grey': p.averageRating < 4}"></i>
                                <i class="fa fa-star" ng-class="{'grey': p.averageRating < 5}"></i>
                            </div>
                        </div>
                    </div>
                    <aside class="widget widget-banner border-hover">
                        <a href="#"><img alt="" src="assets/img/banner/banner-30.jpg"></a>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
<!--End of product-details Area-->
<footer></footer>
