<!--Header Area Start-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="/" class="navbar-brand"><img src="assets/img/logo/logo.png" width="150" /></a>
                   
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul id="nav">
                            <li ng-repeat="item in nav.menu" ui-sref-active="active">
                                <a ui-sref="{{item.state}}">{{item.title}}</a>
                                <div ng-if="item.featured" class="megamenu">
                                    <div class="megamenu-image clearfix">
                                        <div class="col-md-4 mega-banner" ng-repeat="f in item.featured">
                                            <div class="white-hover">
                                                <a ui-sref="{{f.state}}"><img src="{{f.image}}" alt=""></a>
                                            </div>
                                            <div class="border-list">
                                                <a ui-sref="{{f.state}}" class="mega-title">{{f.title}}</a>
                                                <a ng-repeat="sub in f.items" ui-sref="{{sub.state}}">{{sub.title}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End of Header Area-->
<!--Sidebar Cart Area Start-->
<div class="sidebar-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 hidden-xs">
                <div class="search-form">
                    <form id="search-form" action="#">
                        <div class="categories">
                            <div class="box-search-select">
                                <select class="selects" name="category">
                                    <option value="">All Categories</option>
                                    <option ng-repeat="category in nav.parentCategories" value="{{category.slug}}">{{category.name | limitTo:15}}</option>
                                </select>
                            </div>
                        </div>
                        <input type="search" placeholder="What do you want to search  . ." name="s" />
                        <button type="submit"><i class="fa fa-search"></i>Search</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="header-right-menu">
                    <ul class="header-r-cart">
                        <li><a class="cart" href="cart.html"><i class="fa fa-shopping-cart"></i>Cart : ₦313.84<span>2</span></a>
                            <!--  <div class="mini-cart-content">
                                <div class="mini-top-sec">
                                    <div class="cart-image">
                                        <a href="#"><img alt="" src="img/product/p-4.jpg"></a>
                                    </div>
                                    <div class="cart-info">
                                        <a href="#"><h4>SparkFun Badgers Intel</h4></a>
                                        <h5>₦156.87</h5><span class="quantity"><i class="fa fa-times"></i>1</span>
                                    </div>
                                    <div class="product-cancel"><a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="mini-top-sec">
                                    <div class="cart-image">
                                        <a href="#"><img alt="" src="img/product/p-1.jpg"></a>
                                    </div>
                                    <div class="cart-info">
                                        <a href="#"><h4>SparkFun Badgers Intel</h4></a>
                                        <h5>₦156.87</h5><span class="quantity"><i class="fa fa-times"></i>1</span>
                                    </div>
                                    <div class="product-cancel"><a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="mini-bottom-sec">
                                    <p class="total-amount">Subtotal: <span>₦313.84</span></p>
                                    <div class="button"><a href="checkout.html">CHECKOUT</a></div>
                                    <div class="button"><a href="cart.html">View Cart</a></div>
                                </div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Sidebar Cart Area-->
<!-- Mobile Menu Area start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="index.html">HOME</a>
                                <ul>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">SHOP</a>
                                <ul>
                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">ABOUT</a>
                                <li><a href="#">PAGES</a>
                                    <ul>
                                        <li><a href="account.html">My Account</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu Area end -->
