<!--Header Area Start-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="/" class="navbar-brand"><img src="assets/img/logo/logo.png" width="200" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul id="nav">
                            <li ng-repeat="item in nav.menu">
                                <a ui-sref="{{item.state}}">{{item.title}}</a>
                                <div ng-if="item.featured" class="megamenu">
                                    <div class="megamenu-image clearfix">
                                        <div class="col-md-4 mega-banner" ng-repeat="f in item.featured">
                                            <div class="white-hover">
                                                <a ui-sref="{{f.state}}"><img src="{{f.image}}" alt=""></a>
                                            </div>
                                            <div class="border-list">
                                                <a ui-sref="{{f.state}}" class="mega-title">{{f.title}}</a>
                                                <a ng-repeat="sub in f.items" ui-sref="{{sub.state}}">{{sub.title}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
                            <li ui-sref-active="active"><a class="btn text-primary" ui-sref="submit-request">Submit Food List</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End of Header Area-->