    <!--Header Top Area Start-->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <ul class="header-left-top header-menu">
                    <li><a href="account.html"><i class="fa fa-user"></i>My account<i class="fa fa-angle-down"></i></a>
                        <ul class="header-dropdown">
                            <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Register</a></li>
                            <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
                            <li ng-show="nav.isLoggedIn()">Hello {{ nav.getCurrentUser().name }} </li>
                            <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">Account settings  <span class="glyphicon glyphicon-cog"></span></a></li>
                            <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-globe"></i>English <i class="fa fa-angle-down"></i></a>
                      <!--   <ul class="header-dropdown">
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
 -->                    </li>
                    <li><a href="#"><i class="fa fa-money"></i>NGN <i class="fa fa-angle-down"></i></a>
                        <!-- <ul class="header-dropdown">
                            <li><a href="#">USD</a></li>
                            <li><a href="#">US Dollar</a></li>
                        </ul> -->
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="header-right-top">
                    <div class="header-s-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-flickr"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="header-contact-info">
                        <p><i class="fa fa-mobile"></i>Phone: <span>(+234)806-494-9432</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Header Top Area-->
