<navbar></navbar>
<!--Breadcrumbs Start-->
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumbs-->
<!--Checkout Area Start-->
<section class="checkout-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#checkout">
                                            1. CHECKOUT METHOD
                                        </a>
                                    </h4>
                        </div>
                        <div id="checkout" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body row" ng-show="isLoggedIn">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-checkout">
                                        <h2 class="light">You are logged in, Please, proceed to the section below</h2>
                                    </div>
                                </div>
                                <!-- <a href="#shipping" class="c-btn">Continue</a> -->
                            </div>
                            <div class="panel-body row" ng-hide="isLoggedIn">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-checkout">
                                        <h2 class="border-down">Check as a guest or register</h2>
                                        <p class="heading-p">Register with us for future convenience</p>
                                        <form action="#">
                                            <label>
                                                <input type="radio" name="check" value="guest" checked="checked">
                                                <span>Checkout as Guest</span>
                                            </label>
                                            <label>
                                                <input ng-click="$state.go('signup')" type="radio" name="check" value="user">
                                                <span>Register</span>
                                            </label>
                                        </form>
                                    </div>
                                    <div class="single-checkout">
                                        <h2 class="light">Register and save time !</h2>
                                        <p class="heading-p">Register with us for future convenience</p>
                                        <p class="r-with-us">Fast and easy checkout</p>
                                        <p class="r-with-us">Easy access to your order history and status</p>
                                        <a href="#shipping" class="c-btn">Continue</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="single-checkout right">
                                        <h2 class="border-down">Login</h2>
                                        <p class="heading-p">Already Registered?</p>
                                        <p class="r-with-us">Please log in below :</p>
                                        <div class="login-form">
                                            <form class="form" name="form1" ng-submit="login(form1)" novalidate>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" name="email" class="form-control" ng-model="user.email" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                                                </div>
                                                <div class="form-group has-error">
                                                    <p class="help-block" ng-show="form1.email.$error.required && form1.password.$error.required && submitted">
                                                        Please enter your email and password.
                                                    </p>
                                                    <p class="help-block" ng-show="form1.email.$error.email && submitted">
                                                        Please enter a valid email.
                                                    </p>
                                                    <p class="help-block" ng-if="errors.other">{{ errors.other }}</p>
                                                </div>
                                                <input class="login-btn" type="submit" id="submit" value="Login">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#shipping">
                                            2. SHIPPING INFORMATION
                                        </a>
                                    </h4>
                        </div>
                        <div id="shipping" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="login-form">
                                    <form class="form" name="form" ng-submit="validate(form)" novalidate>
                                        <div class="form-group has-error">
                                            <p class="help-block" ng-show="form.name.$error.required && submitted">
                                                Please enter your name
                                            </p>
                                            <p class="help-block" ng-show="form.email.$error.required && submitted">
                                                Please enter your email
                                            </p>
                                            <p class="help-block" ng-show="form.phone.$error.required && submitted">
                                                Please enter your phone number
                                            </p>
                                            <p class="help-block" ng-show="form.address.$error.required && submitted">
                                                Please enter your address
                                            </p>
                                            <p class="help-block" ng-show="form.city.$error.required && submitted">
                                                Please enter your city
                                            </p>
                                            <p class="help-block" ng-show="form.state.$error.required && submitted">
                                                Please enter your state
                                            </p>
                                            <p class="help-block" ng-show="form.country.$error.required && submitted">
                                                Please enter your country
                                            </p>
                                        </div>
                                        <div class="customer-name">
                                            <div class="first-name">
                                                <p>Name<span>*</span></p>
                                                <input type="text" required ng-model="user.name" name="name">
                                            </div>
                                            <div class="email-address">
                                                <p>Email Adress<span>*</span></p>
                                                <input type="email" required ng-model="user.email" name="email">
                                            </div>
                                            <div class="telephone">
                                                <p>Telephone<span>*</span></p>
                                                <input type="text" required ng-model="user.phone" name="phone">
                                            </div>
                                        </div>
                                        <p>Address<span>*</span></p>
                                        <textarea ng-model="user.address" class="yourmessage" required name="address"></textarea>
                                        <div class="city-country">
                                            <div class="city">
                                                <p>City<span>*</span></p>
                                                <input type="text" ng-model="user.city" required name="city">
                                            </div>
                                            <div class="state">
                                                <p>State/Province</p>
                                                <select class="country" ng-model="user.state" name="state">
                                                    <option value="state">Please select region, state or province</option>
                                                    <option value="lagos">Lagos</option>
                                                    <option value="rivers">Rivers</option>
                                                </select>
                                            </div>
                                            <div class="state" style="margin-left: 5px;">
                                                <p>Country<span>*</span></p>
                                                <select class="country" ng-model="user.country" name="country" required>
                                                    <option value="GH">Ghana</option>
                                                    <option selected="selected" value="NG">Nigeria</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button href="#" ng-hide="form.$valid && submitted" class="login-btn">Validate</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                        <a class="collapsed disabled" role="button" data-toggle="collapse" data-parent="#accordion" href="#order-review">
                                            3. ORDER REVIEW
                                        </a>
                                    </h4>
                        </div>
                        <div id="order-review" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="form-group has-error" ng-if="message">
                                    <p class="help-block">{{message}}</p>
                                </div>
                                <div class="checkout-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="p-name">Product Name</th>
                                                <th class="p-amount">Price</th>
                                                <th class="p-amount">Qty</th>
                                                <th class="p-total">SubTotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ngCart.getCart().items track by $index">
                                                <td class="p-name">{{item.getName()}}</td>
                                                <td class="p-amount text-center"><span class="amount">₦{{item.getPrice() | number:2}}</span></td>
                                                <td class="p-quantity text-center">{{item.getQuantity()}}</td>
                                                <td class="p-total">₦{{item.getTotal() | number:2}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-right">Subtotal</td>
                                                <td class="p-amount">₦{{ ngCart.getSubTotal() | number:2}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-right">Tax(5%)</td>
                                                <td class="p-amount">₦{{ ngCart.getTax() | number:2}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-right">Grand Total</td>
                                                <td class="p-total">₦{{ ngCart.totalCost() | number:2}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="checkout-buttons">
                                        <p>Doesn't seem right? <a ui-sref="cart">Edit Your Cart</a>
                                        </p>
                                        <button class="login-btn" ng-click="checkout(ngCart.toObject(), user)">Place Order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="checkout-progress">
                    <div class="check-title">
                        <h3>Checkout Progress</h3>
                    </div>
                    <ul class="check">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Checkout Method</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Shipping Information</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Order Review</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Checkout Area-->
<footer></footer>
