
<!--End of Features Gift Tab Area-->
<div class="features-tab-area gift">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="features-tab clearfix">
                    <h3>Wines</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs navbar-right" role="tablist">
                        <li role="presentation" class="active"><a href="#wine" aria-controls="wine" role="tab" data-toggle="tab">wine Clubs</a></li>
                        <li role="presentation"><a href="#gift" aria-controls="gift" role="tab" data-toggle="tab">gift ideas</a></li>
                        <li role="presentation"><a href="#cavities" aria-controls="cavities" role="tab" data-toggle="tab"> red wine </a></li>
                        <li role="presentation"><a href="#bottlered" aria-controls="bottlered" role="tab" data-toggle="tab">wine bottlered</a></li>
                        <li role="presentation"><a href="#vw-all" aria-controls="vw-all" role="tab" data-toggle="tab"> View all <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="wine">
                                <div class="row">
                                    <div class="single-p-slide-bottom">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/10.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/11.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/14.jpg" alt="">
                                                    <p>New</p>
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/12.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/13.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/13.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/12.jpg" alt="">
                                                    <p class="discount">Hot</p>
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87 <span>$186.94</span></h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/14.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/11.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img class="primary-img" src="img/product/general/15.jpg" alt="">
                                                    <img class="secondary-img" src="img/product/general/10.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="gift">
                                <div class="row">
                                    <div class="single-p-slide-bottom">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/12.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/10.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/13.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="cavities">
                                <div class="row">
                                    <div class="single-p-slide-bottom">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/11.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/12.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/13.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="bottlered">
                                <div class="row">
                                    <div class="single-p-slide-bottom">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/12.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/13.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/11.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/10.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="vw-all">
                                <div class="row">
                                    <div class="single-p-slide-bottom">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/13.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/12.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/14.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/11.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <a href="#">
                                                    <img src="img/product/general/15.jpg" alt="">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <div class="product-info">
                                                    <h4><a href="#">SparkFun Badgers Intel</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <h5>$156.87</h5>
                                                    <button class="n-a-btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                    <a class="wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="signal" href="#"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                        <aside class="widget widget-banner white-hover">
                            <a href="#"><img src="img/banner/banner-35.jpg" alt=""></a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Features Gift Tab Area-->