<!--Header Area Start-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="#"><img src="img/logo/logo-4.png" alt="Stepre"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul id="nav">
                            <li class="current"><a href="index.html">HOME</a>
                                <ul class="sub-menu">
                                    <li><a href="index-2.html">Homepage Version 2</a></li>
                                    <li><a href="index-3.html">Homepage Version 3</a></li>
                                    <li><a href="index-4.html">Homepage Version 4</a></li>
                                    <li><a href="index-5.html">Homepage Version 5</a></li>
                                </ul>
                            </li>
                            <li><a href="shop-grid.html">Electronic</a>
                                <div class="megamenu">
                                    <div class="megamenu-image clearfix">
                                        <div class="col-md-4 mega-banner">
                                            <div class="white-hover">
                                                <a href="#"><img src="img/mega-b-5.jpg" alt=""></a>
                                            </div>
                                            <div class="border-list">
                                                <a href="#" class="mega-title">HANDBAGS</a>
                                                <a href="#">Shop All</a>
                                                <a href="#">New Arrivals</a>
                                                <a href="#">Crossbody Bags</a>
                                                <a href="#">Shoulder Bags</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mega-banner">
                                            <div class="white-hover">
                                                <a href="#"><img src="img/mega-b-6.jpg" alt=""></a>
                                            </div>
                                            <div class="border-list">
                                                <a href="#" class="mega-title">Jewery &amp; Accessories</a>
                                                <a href="#">Hats &amp; Gloves</a>
                                                <a href="#">Cold-Weather</a>
                                                <a href="#">Fur &amp; Faux Fur</a>
                                                <a href="#">Wraps,Capes &amp; Vests</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mega-banner">
                                            <div class="white-hover">
                                                <a href="#"><img src="img/mega-b-7.jpg" alt=""></a>
                                            </div>
                                            <div class="border-list">
                                                <a href="#" class="mega-title">Shoes</a>
                                                <a href="#">Pumps &amp; Slingbacks</a>
                                                <a href="#">Evening</a>
                                                <a href="#">Oxfords, Loafers</a>
                                                <a href="#">Cold Weath</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="shop-grid.html">Fashion</a></li>
                            <li><a href="shop-grid.html">Sport</a></li>
                            <li><a href="shop-grid.html">Food</a></li>
                            <li class="drop-down"><a href="index.html">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="account.html">My Account</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout Page</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End of Header Area-->
