<!--Main Slider Area Start-->
<div class="main-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm left-sidebar">
                <sidebar-cat></sidebar-cat>
            </div>
            <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 hidden-sm">
                <div class="slider-area">
                    <div class="preview-2">
                        <div id="nivoslider-four" class="slides" slideit>
                            <img src="assets/img/slider/home-five/slider-10.jpg" alt="" title="#slider-direction-1" />
                            <img src="assets/img/slider/home-five/slider-9.jpg" alt="" title="#slider-direction-2" />
                        </div>
                        <!-- direction 1 -->
                        <div id="slider-direction-1" class="t-cn slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 1 -->
                            <div class="wow bounceInLeft layer-1" data-wow-duration="3s" data-wow-delay=".5s">
                                <img src="assets/img/slider/home-four/slider-l-1.png" alt="" />
                            </div>
                            <!-- layer 2 -->
                            <div class="wow bounceInLeft layer-2" data-wow-duration="3s" data-wow-delay="1s">
                                <img src="assets/img/slider/home-four/slider-l-2.png" alt="" />
                            </div>
                            <!-- layer 3 -->
                            <div class="wow bounceInRight layer-3" data-wow-duration="3s" data-wow-delay="1.5s">
                                <img src="assets/img/slider/home-four/slider-l-3.png" alt="" />
                            </div>
                            <!-- layer 4 -->
                            <div class="wow bounceInDown layer-4" data-wow-duration="3s" data-wow-delay="2.5s">
                                <img src="assets/img/slider/home-four/slider-l-4.png" alt="" />
                            </div>
                            <!-- layer 5 -->
                            <div class="wow bounceInLeft layer-5" data-wow-duration="3s" data-wow-delay="3.5s">
                                <img src="assets/img/slider/home-four/slider-l-5.png" alt="" />
                            </div>
                            <div class="slider-content slider-text-1">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="4s">
                                    <h1 class="title1">Apple wach 2016</h1>
                                </div>
                            </div>
                            <div class="slider-content slider-text-2">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="4.5s">
                                    <p>Watch Apple iPhone has more applications,
                                        <br> the new iPad launch</p>
                                </div>
                            </div>
                            <div class="slider-content slider-text-3">
                                <div class="wow bounceInUp" data-wow-duration="3s" data-wow-delay="5.5s">
                                    <a href="#" class="button-s-4">View shop <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- direction 2 -->
                        <div id="slider-direction-2" class="slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 6 -->
                            <div class="wow bounceInRight t-cn layer-6" data-wow-duration="3s" data-wow-delay="1s">
                                <img src="assets/img/slider/home-four/slider-l-7.png" alt="" />
                            </div>
                            <!-- layer 7 -->
                            <div class="wow bounceInLeft t-cn layer-7" data-wow-duration="3s" data-wow-delay="2s">
                                <img src="assets/img/slider/home-four/slider-l-8.png" alt="" />
                            </div>
                            <!-- layer 8 -->
                            <div class="wow bounceInRight t-cn layer-8" data-wow-duration="3s" data-wow-delay="3s">
                                <img src="assets/img/slider/home-four/slider-l-6.png" alt="" />
                            </div>
                            <!-- layer 9 -->
                            <div class="wow bounceInLeft t-cn layer-9" data-wow-duration="3s" data-wow-delay="4s">
                                <img src="assets/img/slider/home-four/slider-l-5.png" alt="" />
                            </div>
                            <div class="slider-content slider-text-4">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="5s">
                                    <h1 class="title1">Adidas Originals</h1>
                                </div>
                            </div>
                            <div class="slider-content slider-text-5">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="6s">
                                    <p>Superstar 80’s Deluxe White &amp; Black Trainers</p>
                                </div>
                            </div>
                            <div class="slider-content slider-text-6">
                                <div class="wow bounceInUp" data-wow-duration="3s" data-wow-delay="5.5s">
                                    <a href="#" class="button-s-4">View shop <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs">
                <div class="product-banner-area white-hover">
                   <a href="{{main.sliderAreaBanner.link}}">
                        <img src="{{main.sliderAreaBanner.img}}" alt="">
                        <span class="button-s-4">View shop <i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
