<!--Sidebar Cart Area Start-->
<div class="sidebar-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 hidden-xs">
                <div class="search-form">
                    <form id="search-form" action="#">
                        <div class="categories">
                            <div class="box-search-select">
                                <select class="selects" name="category">
                                    <option value="">All Categories</option>
                                    <option value="elec">Electtronic</option>
                                    <option value=" fashion">Fashion</option>
                                    <option value="kitchen">Kitchenware</option>
                                    <option value="tools">Tools</option>
                                    <option value="wine">Wine</option>
                                    <option value="versace">versace</option>
                                    <option value="apple">Apple</option>
                                    <option value="levono">Lenovo</option>
                                    <option value="lock">Lock and Lock</option>
                                </select>
                            </div>
                        </div>
                        <input type="search" placeholder="What do you want to search  . ." name="s" />
                        <button type="submit"><i class="fa fa-search"></i>Search</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="header-right-menu">
                    <ul class="header-r-cart">
                        <li><a class="cart" href="cart.html"><i class="fa fa-shopping-cart"></i>Cart : £313.84<span>2</span></a>
                            <div class="mini-cart-content">
                                <div class="mini-top-sec">
                                    <div class="cart-image">
                                        <a href="#"><img alt="" src="img/product/p-4.jpg"></a>
                                    </div>
                                    <div class="cart-info">
                                        <a href="#"><h4>SparkFun Badgers Intel</h4></a>
                                        <h5>£156.87</h5><span class="quantity"><i class="fa fa-times"></i>1</span>
                                    </div>
                                    <div class="product-cancel"><a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="mini-top-sec">
                                    <div class="cart-image">
                                        <a href="#"><img alt="" src="img/product/p-1.jpg"></a>
                                    </div>
                                    <div class="cart-info">
                                        <a href="#"><h4>SparkFun Badgers Intel</h4></a>
                                        <h5>£156.87</h5><span class="quantity"><i class="fa fa-times"></i>1</span>
                                    </div>
                                    <div class="product-cancel"><a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <div class="mini-bottom-sec">
                                    <p class="total-amount">Subtotal: <span>£313.84</span></p>
                                    <div class="button"><a href="checkout.html">CHECKOUT</a></div>
                                    <div class="button"><a href="cart.html">View Cart</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Sidebar Cart Area-->
<!-- Mobile Menu Area start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="index.html">HOME</a>
                                <ul>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">SHOP</a>
                                <ul>
                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="product-details.html">Product Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">ABOUT</a>
                                <li><a href="#">PAGES</a>
                                    <ul>
                                        <li><a href="account.html">My Account</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu Area end -->
<!--Main Slider Area Start-->
<div class="main-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm left-sidebar">
                <div class="cat-menu">
                    <ul id="category">
                        <li class="cat-title"><a href="#">Categories</a></li>
                        <li><a href="#">Phone &amp; Tablet <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-menu clearfix">
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Mobiles</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Tablets</a></li>
                                        <li><a href="#">Android</a></li>
                                        <li><a href="#">Apple</a></li>
                                        <li><a href="#">Windows</a></li>
                                        <li><a href="#">Discount</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Dextop</a></li>
                                        <li><a href="#">Android Mobiles</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Electronic</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Apple &amp; Laptop <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-menu clearfix">
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Computer</a></li>
                                        <li><a href="#">Tablet</a></li>
                                        <li><a href="#">Discount</a></li>
                                        <li><a href="#">Windows</a></li>
                                        <li><a href="#">Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Electronic</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Mobiles</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Dextop</a></li>
                                        <li><a href="#">Android Mobiles</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="shop.html">Accessory <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-menu clearfix">
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">All in one</a></li>
                                        <li><a href="#">Mobiles</a></li>
                                        <li><a href="#">Discount</a></li>
                                        <li><a href="#">Windows</a></li>
                                        <li><a href="#">Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Camera</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple </a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Tablets</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Electronic</a></li>
                                        <li><a href="#"> Mobiles</a></li>
                                        <li><a href="#">Android </a></li>
                                        <li><a href="#"> Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Inverters pay <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-menu clearfix">
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Windows</a></li>
                                        <li><a href="#">Discharge</a></li>
                                        <li><a href="#">Discount</a></li>
                                        <li><a href="#">Apple</a></li>
                                        <li><a href="#">Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Electronic</a></li>
                                        <li><a href="#">Android</a></li>
                                        <li><a href="#">Apple </a></li>
                                        <li><a href="#">Windows</a></li>
                                        <li><a href="#">Discount</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Phones</a></li>
                                        <li><a href="#">Android Tablets</a></li>
                                        <li><a href="#">Apple Mobiles</a></li>
                                        <li><a href="#">Windows Phones</a></li>
                                        <li><a href="#">Discount Tablets</a></li>
                                    </ul>
                                </li>
                                <li class="sub-sec col-md-6">
                                    <ul>
                                        <li><a class="title" href="#">Android</a></li>
                                        <li><a href="#"> Mobiles Discount</a></li>
                                        <li><a href="#">Android </a></li>
                                        <li><a href="#"> Mobiles</a></li>
                                        <li><a href="#"> Phones Windows</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">discharge</a></li>
                        <li><a href="#">Installment</a></li>
                        <li><a href="#">ACCESSORY</a></li>
                        <li><a href="#">all categories</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 hidden-sm">
                <div class="slider-area">
                    <div class="preview-2">
                        <div id="nivoslider-four" class="slides">
                            <img src="img/slider/home-five/slider-10.jpg" alt="" title="#slider-direction-1" />
                            <img src="img/slider/home-five/slider-9.jpg" alt="" title="#slider-direction-2" />
                        </div>
                        <!-- direction 1 -->
                        <div id="slider-direction-1" class="t-cn slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 1 -->
                            <div class="wow bounceInLeft layer-1" data-wow-duration="3s" data-wow-delay=".5s">
                                <img src="img/slider/home-four/slider-l-1.png" alt="" />
                            </div>
                            <!-- layer 2 -->
                            <div class="wow bounceInLeft layer-2" data-wow-duration="3s" data-wow-delay="1s">
                                <img src="img/slider/home-four/slider-l-2.png" alt="" />
                            </div>
                            <!-- layer 3 -->
                            <div class="wow bounceInRight layer-3" data-wow-duration="3s" data-wow-delay="1.5s">
                                <img src="img/slider/home-four/slider-l-3.png" alt="" />
                            </div>
                            <!-- layer 4 -->
                            <div class="wow bounceInDown layer-4" data-wow-duration="3s" data-wow-delay="2.5s">
                                <img src="img/slider/home-four/slider-l-4.png" alt="" />
                            </div>
                            <!-- layer 5 -->
                            <div class="wow bounceInLeft layer-5" data-wow-duration="3s" data-wow-delay="3.5s">
                                <img src="img/slider/home-four/slider-l-5.png" alt="" />
                            </div>
                            <div class="slider-content slider-text-1">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="4s">
                                    <h1 class="title1">Apple wach 2015</h1>
                                </div>
                            </div>
                            <div class="slider-content slider-text-2">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="4.5s">
                                    <p>Watch Apple iPhone has more applications,
                                        <br> the new iPad launch</p>
                                </div>
                            </div>
                            <div class="slider-content slider-text-3">
                                <div class="wow bounceInUp" data-wow-duration="3s" data-wow-delay="5.5s">
                                    <a href="#" class="button-s-4">View shop <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- direction 2 -->
                        <div id="slider-direction-2" class="slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 6 -->
                            <div class="wow bounceInRight t-cn layer-6" data-wow-duration="3s" data-wow-delay="1s">
                                <img src="img/slider/home-four/slider-l-7.png" alt="" />
                            </div>
                            <!-- layer 7 -->
                            <div class="wow bounceInLeft t-cn layer-7" data-wow-duration="3s" data-wow-delay="2s">
                                <img src="img/slider/home-four/slider-l-8.png" alt="" />
                            </div>
                            <!-- layer 8 -->
                            <div class="wow bounceInRight t-cn layer-8" data-wow-duration="3s" data-wow-delay="3s">
                                <img src="img/slider/home-four/slider-l-6.png" alt="" />
                            </div>
                            <!-- layer 9 -->
                            <div class="wow bounceInLeft t-cn layer-9" data-wow-duration="3s" data-wow-delay="4s">
                                <img src="img/slider/home-four/slider-l-5.png" alt="" />
                            </div>
                            <div class="slider-content slider-text-4">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="5s">
                                    <h1 class="title1">Adidas Originals</h1>
                                </div>
                            </div>
                            <div class="slider-content slider-text-5">
                                <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="6s">
                                    <p>Superstar 80’s Deluxe White &amp; Black Trainers</p>
                                </div>
                            </div>
                            <div class="slider-content slider-text-6">
                                <div class="wow bounceInUp" data-wow-duration="3s" data-wow-delay="5.5s">
                                    <a href="#" class="button-s-4">View shop <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs">
                <div class="product-banner-area white-hover">
                    <a href="#">
                        <img src="img/banner/banner-28.jpg" alt="">
                        <span class="button-s-4">View shop <i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Main Slider Area-->